@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/**/
:root {
  --bg-color: #081b29;
  --text-color: #ededed;
  --main-color: #00abf0;
  --sec-bg-color: #000000;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-color);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding-right: 1rem;
}

/* Beranda */
#beranda {
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.slider {
  max-width: 800px;
  margin: 2rem auto;
}

.slider img {
  width: 100%;
  height: auto;
  display: none;
}

.slider img:first-child {
  display: block;
}

/* Kemampuan */
#kemampuan {
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.kemampuan-item {
  display: inline-block;
  margin: 3rem;
}

.kemampuan-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Kontak */
#kontak {
  padding: 4rem 1rem;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form-input,
.form-output {
  flex: 1;
  max-width: 400px;
  padding: 1rem;
  background-color: #f5f5f5;
  color: var(--bg-color);
  margin: 0 1rem;
  border-radius: 20px;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
}

form button {
  background-color: var(--main-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1.8rem;
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Responsive */
@media (max-width: 859px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .form-input,
  .form-output {
    max-width: 100%;
    margin: 1rem 0;
  }
}
